# AWS Credentials
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key

# Azure Credentials
AZURE_SUBSCRIPTION_ID=your_sub_id
AZURE_TENANT_ID=your_tenant_id
AZURE_CLIENT_ID=your_client_id
AZURE_CLIENT_SECRET=your_client_secret

# GCP Credentials
GCP_PROJECT_ID=your_project_id
GOOGLE_APPLICATION_CREDENTIALS=./gcp-key.json